[submodule "Libs/nkQuestBase"]
	path = Libs/nkQuestBase
	url = https://github.com/NaifuKishi/nkQuestBase.git
[submodule "Libs/EnKaiLight"]
	path = Libs/EnKaiLight
	url = https://github.com/NaifuKishi/EnKaiLight.git
