[submodule "Libs/EnKai"]
	path = Libs/EnKai
	url = https://github.com/NaifuKishi/EnKai.git
[submodule "Libs/nkQuestBase"]
	path = Libs/nkQuestBase
	url = https://github.com/NaifuKishi/nkQuestBase.git
